// Global styles
@use "sass:color";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Font Sizes
$fs-small: 1.2rem;
$fs-regular: 1.6rem;
$fs-medium: 2.2rem;
$fs-medium-large: 2.8rem;
$fs-large-medium: 3.8rem;
$fs-very-large: 6.8rem;

$clr-primary: #a259ff;
$clr-dark: #2b2b2b;
$clr-white: #ffffff;
$clr-dark-gray: #2b2b2b;
$clr-medium-gray: #3b3b3b;
$clr-light-gray: #858584;

$btn-radius: 20px;

$ff-space-mono: "Space Mono", monospace;
$ff-Work-sans: "Work Sans", sans-serif;

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
  color: $clr-white;
}

li {
  list-style: none;
}

body {
  background-color: $clr-dark;
  color: $clr-white;
  font-family: $ff-Work-sans;
  position: relative;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.container {
  padding-block: 5rem;
  padding-inline: 6rem;
  max-width: 1350px;
  margin-inline: auto;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* BUTTONS */
.btn_container {
  display: inline-block;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 1.6rem;
  border-radius: 20px;
  border: 2px solid transparent;
  transition: all 0.5s;
  &__primary {
    padding: 2rem 3rem;
    &:hover {
      background-color: color.adjust($clr-primary, $lightness: -10%);
    }
  }

  &__secondary {
    padding: 1.5rem 2rem;
  }

  &__tertiary {
    padding: 1rem 2rem;
  }

  &__free {
    border: 2px solid $clr-primary;
  }
  &__full {
    border: 2px solid transparent;
    background-color: $clr-primary;
  }
}

.header__buttonly {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6rem;

  .header___title {
    font-size: $fs-large-medium;
    margin-bottom: 1rem;
    line-height: 1.2;
    font-weight: 600;
  }

  .header__subtitle {
    font-size: $fs-medium;
    line-height: 1.6;
    font-weight: 400;
  }
  .btn_container {
    align-self: flex-end;
  }
}

/* HEADER SECTION */
/* NAVBAR */

.header-section {
  max-width: 1800px;
  margin-inline: auto;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  /* KEYINROQ OLIB TASHLASHIMIZ MUMKIN */

  padding: 2rem 5rem;
  margin-inline: auto;

  /* ********************************* */

  &__container {
    display: flex;
    align-items: center;
  }
  &__button {
    display: none;
    border: none;
    background-color: transparent;
  }

  &__links {
    display: flex;
    gap: 1.5rem;
  }

  &__link {
    font-size: $fs-regular;
    font-weight: 600;
    line-height: 1.4;
    padding: 2rem;

    &:hover {
      color: $clr-primary;
    }
  }

  &__btn {
    display: flex;
    background-color: $clr-primary;
    gap: 1rem;
    padding: 2rem 3rem;
    font-size: 1.6rem;
    font-weight: 600;
    border-radius: 20px;
    transition: 0.2s;

    &:hover {
      background-color: color.adjust($clr-primary, $lightness: -10%);
    }
  }
}

.close-btn {
  color: #fff;
  font-size: 2.6rem;
  display: none;
}
/*1080px FOR DESKTOP APPLICATION*/

@media (max-width: 1080px) {
  .navbar {
    position: relative;
  }

  .navbar__container {
    position: absolute;
    top: 0;
    right: -50%;
    width: 40%;
    height: 100vh;
    background-color: #3b3b3b;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    z-index: 10000;
    transition: 0.5s;
  }

  .navbar__links {
    flex-direction: column;
    gap: 5rem;
    a {
      font-size: 2.2rem;
    }
  }

  .close-btn {
    display: block;
    position: absolute;
    top: 40px;
    left: 40px;
    background-color: transparent;
    border: none;
  }

  .navbar .navbar__button {
    display: block;
    transition: 0.3s;

    &:hover {
      transform: scale(1.2);
    }
  }

  .navbar__container.opened {
    right: 0;
  }
}

/* HERO SECTION */

.hero {
  display: flex;
  justify-content: center;
  gap: 3rem;

  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: start;
    justify-content: center;
  }

  &__title {
    font-size: $fs-very-large;
    line-height: 1;
    font-weight: 600;
  }

  &__description {
    font-size: $fs-medium;
    font-weight: 400;
    line-height: 1.6;
  }

  &__btn {
    display: inline-block;
  }

  &__image {
    flex: 1;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    aspect-ratio: 1/1;
    &-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      transition: 0.7s;

      &:hover {
        transform: scale(1.11);
      }
    }

    &-overlay {
      background-color: $clr-medium-gray;
      width: 100%;
      padding: 1rem;
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
    }
  }

  &__overlay-title {
    font-size: $fs-medium;
    line-height: 1.4;
    text-transform: capitalize;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  &__creator {
    display: flex;
    gap: 1rem;
  }

  &__creator-name {
    font-size: $fs-regular;
    line-height: 1.4;
  }

  &__stats {
    display: flex;
    gap: 8rem;
  }

  &__stat {
    display: flex;
    flex-direction: column;
  }

  &__stat-number {
    font-family: $ff-space-mono;
    font-size: $fs-medium-large;
    line-height: 1.6;
    font-weight: 700;
  }

  &__stat-label {
    font-size: 2.4rem;
    font-weight: 400;
  }
}

.collection {
  &__title {
    font-size: $fs-large-medium;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  &__subtitle {
    font-size: $fs-medium;
    font-weight: 400;
    margin-bottom: 6rem;
  }

  &__cards {
    display: flex;
    gap: 3rem;
    justify-content: space-between;
    .collection__card {
      display: flex;
      flex: 1;
      flex-direction: column;
      gap: 2rem;
    }

    .collection__img-top {
      img {
        width: 100%;
        height: 100%;
      }
    }

    .collection__img-sub {
      display: flex;
      gap: 1rem;
      justify-content: space-between;

      .collection__img-col {
        flex: 1;
        aspect-ratio: 1/1;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .collection__img-num {
        border-radius: 20px;
        flex: 1;
        font-size: 2.2rem;
        font-family: $ff-space-mono;
        font-weight: 700;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $clr-primary;
      }
    }

    .collection__card-name {
      font-size: $fs-medium;
      line-height: 1.4;
      font-weight: 600;
      margin-bottom: 1rem;
    }

    .collection__autor-avatar {
      display: flex;
      align-items: center;
      gap: 1rem;

      .avatar_author {
        font-size: $fs-regular;
        line-height: 1.4;
        font-weight: 400;
      }
    }
  }
}

.creators {
  &__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
  }
  &__card {
    background-color: $clr-medium-gray;
    padding: 2rem;
    position: relative;
    text-align: center;
    flex: 1;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__overlay-number {
    background-color: $clr-dark-gray;
    padding: 0.5rem 1rem;
    font-weight: 400;
    display: flex;
    border-radius: 100px;
    background-color: $clr-dark-gray;
    font-size: $fs-regular;

    position: absolute;
    top: 10px;
    left: 10px;
  }

  &__image {
    text-align: center;
    img {
      width: 70%;
      height: auto;
      margin: auto;
    }
  }

  &__author {
    font-size: $fs-medium;
    font-weight: 600;
    line-height: 1.4;
    margin-block: 1rem;
  }

  &__sales {
    color: $clr-light-gray;
    font-size: $fs-regular;
    font-weight: 400;
  }

  &__summ {
    font-size: $fs-regular;
    font-family: $ff-space-mono;
  }
}

.browse {
  &__title {
    font-size: $fs-large-medium;
    font-weight: 600;
    margin-bottom: 4rem;
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
  }

  &__card {
    overflow: hidden;
    border-radius: 20px;
  }

  &__card-img {
    overflow: hidden;

    img {
      width: 100%;
      height: auto;
      transition: 0.4s;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  &__card-name {
    padding: 2rem 2rem;
    font-size: $fs-medium;
    background-color: $clr-medium-gray;
  }
}

.discover {

  &__cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2.5rem;
  }

  &__card {
    overflow: hidden;
    border-radius: 20px;
  }

  &__content {
    background-color: $clr-medium-gray;
    padding: 2rem 3rem 2.5rem 3rem;
  }

  &__image {
    img {
      width: 100%;
      height: auto;
    }
  }

  &__name {
    font-size: $fs-medium;
    font-weight: 600;
    line-height: 1.4;
    margin-bottom: 0.4rem;
  }

  &__author {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-family: $ff-space-mono;
    margin-bottom: 2rem;
  }

  &__info {
    display: flex;
    justify-content: space-between;
  }

  &__price,
  &__record {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &__price-text,
  &__record-name {
    font-family: $ff-space-mono;
    font-size: $fs-small;
    color: #858584;
  }

  &__price-num,
  &__record-num {
    font-family: $ff-space-mono;
    font-size: $fs-regular;
    font-weight: 400;
  }
}

// $fs-small: 1.2rem;
// $fs-regular: 1.6rem;
// $fs-medium: 2.2rem;
// $fs-medium-large: 2.8rem;
// $fs-large-medium: 3.8rem;
// $fs-very-large: 6.8rem;

/*
Font-size 
  - Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98


--- 07 WHITESPACE
- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

// // Navbar
// .navbar {
//   display: flex;
//   align-items: center;
//   justify-content: space-between;

//   &__logo {
//     display: flex;
//     align-items: center;
//     gap: 1rem;
//   }

//   &__site-name {
//     font-size: 2rem;
//     font-weight: bold;
//     color: #fff;
//   }

//   &__links {
//     display: flex;
//     gap: 2rem;

//     .navbar__link {
//       font-size: 1.6rem;
//       color: #fff;

//       &:hover {
//         color: #a259ff;
//       }
//     }
//   }

//   &__btn {
//     display: flex;
//     align-items: center;
//     gap: 0.5rem;
//     background-color: #a259ff;
//     color: #fff;
//     padding: 1rem 2rem;
//     border-radius: 1rem;
//     font-size: 1.6rem;
//     transition: background-color 0.3s;

//     &:hover {
//       background-color: #7e30ff;
//     }
//   }
// }

// // Icon umumiy
// .icon {
//   font-size: 2rem;
// }
